@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon%EF%B9%964ub35c.eot');
  src:  url('fonts/icomoon%EF%B9%964ub35c.eot#iefix') format('embedded-opentype'),
    url('fonts/icomoon%EF%B9%964ub35c.ttf') format('truetype'),
    url('fonts/icomoon%EF%B9%964ub35c.woff') format('woff'),
    url('fonts/icomoon%EF%B9%964ub35c.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-google:before {
  content: "\e9c9";
  color: #4285f4;
}
.icon-google-plus1:before {
  content: "\e9c4";
}
.icon-uniE97F1:before {
  content: "\e9c5";
}
.icon-uniE989:before {
  content: "\e9c6";
}
.icon-uniE99D1:before {
  content: "\e9c7";
}
.icon-uniE9B21:before {
  content: "\e9c8";
}
.icon-pdf_easyiconnet:before {
  content: "\e9cb";
}
.icon-btn_Google .path1:before {
  content: "\e9cd";
  color: rgb(66, 133, 244);
}
.icon-btn_Google .path2:before {
  content: "\e9ce";
  margin-left: -0.9775390625em;
  color: rgb(52, 168, 83);
}
.icon-btn_Google .path3:before {
  content: "\e9cf";
  margin-left: -0.9775390625em;
  color: rgb(251, 188, 5);
}
.icon-btn_Google .path4:before {
  content: "\e9d0";
  margin-left: -0.9775390625em;
  color: rgb(235, 67, 53);
}
.icon-Facebook_c:before {
  content: "\e9cc";
  color: #3b5998;
}
.icon-Google_C .path1:before {
  content: "\e9d1";
  color: rgb(255, 255, 255);
}
.icon-Google_C .path2:before {
  content: "\e9d2";
  margin-left: -1em;
  color: rgb(204, 204, 204);
}
.icon-Google_C .path3:before {
  content: "\e9d3";
  margin-left: -1em;
  color: rgb(234, 67, 53);
}
.icon-Google_C .path4:before {
  content: "\e9d4";
  margin-left: -1em;
  color: rgb(66, 133, 244);
}
.icon-Google_C .path5:before {
  content: "\e9d5";
  margin-left: -1em;
  color: rgb(251, 188, 5);
}
.icon-Google_C .path6:before {
  content: "\e9d6";
  margin-left: -1em;
  color: rgb(52, 168, 83);
}
.icon-Faster:before {
  content: "\e9ca";
  color: #492582;
}
.icon-benq_Product:before {
  content: "\e9d8";
  color: #492582;
}
.icon-sales:before {
  content: "\e9d9";
  color: #492582;
}
.icon-Status:before {
  content: "\e9da";
  color: #492582;
}
.icon-benq_Newsletter:before {
  content: "\e9db";
  color: #492582;
}
.icon-circle-cross:before {
  content: "\e900";
}
.icon-play:before {
  content: "\e901";
}
.icon-check_circle:before {
  content: "\e902";
}
.icon-circle-thin:before {
  content: "\e903";
}
.icon-star:before {
  content: "\e904";
}
.icon-chevron-down:before {
  content: "\e905";
}
.icon-search-p:before {
  content: "\e906";
}
.icon-store:before {
  content: "\e907";
}
.icon-arrow-b-d:before {
  content: "\e908";
}
.icon-arrow-b-t:before {
  content: "\e909";
}
.icon-arrow-s-d:before {
  content: "\e90a";
}
.icon-arrow-s-t:before {
  content: "\e90b";
}
.icon-m-cancel:before {
  content: "\e90c";
}
.icon-cart:before {
  content: "\e90d";
}
.icon-supports:before {
  content: "\e90e";
}
.icon-arrow-kv-l:before {
  content: "\e90f";
}
.icon-arrow-kv-r:before {
  content: "\e910";
}
.icon-arrow-m-l:before {
  content: "\e911";
}
.icon-arrow-m-r:before {
  content: "\e912";
}
.icon-facebook:before {
  content: "\e913";
}
.icon-google-plus:before {
  content: "\e914";
}
.icon-line:before {
  content: "\e915";
}
.icon-twitter:before {
  content: "\e916";
}
.icon-m-bell:before {
  content: "\e917";
}
.icon-m-menu:before {
  content: "\e918";
}
.icon-email:before {
  content: "\e919";
}
.icon-flat:before {
  content: "\e91a";
}
.icon-icon-cancel:before {
  content: "\e91b";
}
.icon-icon-lower:before {
  content: "\e91c";
}
.icon-icon-more:before {
  content: "\e91d";
}
.icon-newsletter:before {
  content: "\e91e";
}
.icon-open:before {
  content: "\e91f";
}
.icon-orders:before {
  content: "\e920";
}
.icon-password:before {
  content: "\e921";
}
.icon-reload:before {
  content: "\e922";
}
.icon-shotcut:before {
  content: "\e923";
}
.icon-shotcut-2:before {
  content: "\e924";
}
.icon-upload:before {
  content: "\e925";
}
.icon-account:before {
  content: "\e926";
}
.icon-arrow-dobble:before {
  content: "\e927";
}
.icon-setting:before {
  content: "\e928";
}
.icon-logout:before {
  content: "\e929";
}
.icon-people:before {
  content: "\e92a";
}
.icon-exclamation-circle:before {
  content: "\e92b";
}
.icon-info:before {
  content: "\e92c";
}
.icon-fly:before {
  content: "\e92d";
}
.icon-uniE92E:before {
  content: "\e92e";
}
.icon-uniE92F:before {
  content: "\e92f";
}
.icon-uniE930:before {
  content: "\e930";
}
.icon-uniE931:before {
  content: "\e931";
}
.icon-uniE932:before {
  content: "\e932";
}
.icon-uniE933:before {
  content: "\e933";
}
.icon-uniE934:before {
  content: "\e934";
}
.icon-uniE935:before {
  content: "\e935";
}
.icon-uniE936:before {
  content: "\e936";
}
.icon-uniE937:before {
  content: "\e937";
}
.icon-uniE938:before {
  content: "\e938";
}
.icon-uniE939:before {
  content: "\e939";
}
.icon-uniE93A:before {
  content: "\e93a";
}
.icon-uniE93B:before {
  content: "\e93b";
}
.icon-uniE93C:before {
  content: "\e93c";
}
.icon-uniE93D:before {
  content: "\e93d";
}
.icon-uniE93E:before {
  content: "\e93e";
}
.icon-uniE93F:before {
  content: "\e93f";
}
.icon-uniE940:before {
  content: "\e940";
}
.icon-uniE941:before {
  content: "\e941";
}
.icon-uniE942:before {
  content: "\e942";
}
.icon-uniE943:before {
  content: "\e943";
}
.icon-uniE944:before {
  content: "\e944";
}
.icon-uniE945:before {
  content: "\e945";
}
.icon-uniE946:before {
  content: "\e946";
}
.icon-uniE947:before {
  content: "\e947";
}
.icon-uniE948:before {
  content: "\e948";
}
.icon-uniE949:before {
  content: "\e949";
}
.icon-uniE94A:before {
  content: "\e94a";
}
.icon-uniE94B:before {
  content: "\e94b";
}
.icon-uniE94C:before {
  content: "\e94c";
}
.icon-uniE94D:before {
  content: "\e94d";
}
.icon-uniE94E:before {
  content: "\e94e";
}
.icon-uniE94F:before {
  content: "\e94f";
}
.icon-uniE950:before {
  content: "\e950";
}
.icon-uniE951:before {
  content: "\e951";
}
.icon-uniE952:before {
  content: "\e952";
}
.icon-uniE953:before {
  content: "\e953";
}
.icon-uniE954:before {
  content: "\e954";
}
.icon-uniE955:before {
  content: "\e955";
}
.icon-uniE956:before {
  content: "\e956";
}
.icon-uniE957:before {
  content: "\e957";
}
.icon-uniE958:before {
  content: "\e958";
}
.icon-uniE959:before {
  content: "\e959";
}
.icon-uniE95A:before {
  content: "\e95a";
}
.icon-uniE95B:before {
  content: "\e95b";
}
.icon-uniE95C:before {
  content: "\e95c";
}
.icon-uniE95D:before {
  content: "\e95d";
}
.icon-uniE95E:before {
  content: "\e95e";
}
.icon-uniE95F:before {
  content: "\e95f";
}
.icon-uniE960:before {
  content: "\e960";
}
.icon-uniE961:before {
  content: "\e961";
}
.icon-uniE962:before {
  content: "\e962";
}
.icon-uniE963:before {
  content: "\e963";
}
.icon-uniE964:before {
  content: "\e964";
}
.icon-uniE965:before {
  content: "\e965";
}
.icon-uniE966:before {
  content: "\e966";
}
.icon-uniE967:before {
  content: "\e967";
}
.icon-uniE968:before {
  content: "\e968";
}
.icon-uniE969:before {
  content: "\e969";
}
.icon-uniE96A:before {
  content: "\e96a";
}
.icon-uniE96B:before {
  content: "\e96b";
}
.icon-uniE96C:before {
  content: "\e96c";
}
.icon-uniE96D:before {
  content: "\e96d";
}
.icon-uniE96E:before {
  content: "\e96e";
}
.icon-checked:before {
  content: "\e96f";
}
.icon-order:before {
  content: "\e970";
}
.icon-product:before {
  content: "\e971";
}
.icon-calendar-icon:before {
  content: "\e972";
}
.icon-youtube:before {
  content: "\e973";
}
.icon-fb_circle:before {
  content: "\e974";
}
.icon-ig_circle:before {
  content: "\e975";
}
.icon-twitter_circle:before {
  content: "\e976";
}
.icon-in_circle:before {
  content: "\e977";
}
.icon-uniE978:before {
  content: "\e978";
}
.icon-uniE979:before {
  content: "\e979";
}
.icon-uniE97A:before {
  content: "\e97a";
}
.icon-uniE97B:before {
  content: "\e97b";
}
.icon-uniE97C:before {
  content: "\e97c";
}
.icon-uniE97D:before {
  content: "\e97d";
}
.icon-uniE97E:before {
  content: "\e97e";
}
.icon-uniE97F:before {
  content: "\e97f";
}
.icon-uniE980:before {
  content: "\e980";
}
.icon-warranty_link:before {
  content: "\e981";
}
.icon-uniE982:before {
  content: "\e982";
}
.icon-uniE983:before {
  content: "\e983";
}
.icon-uniE984:before {
  content: "\e984";
}
.icon-uniE985:before {
  content: "\e985";
}
.icon-uniE986:before {
  content: "\e986";
}
.icon-uniE987:before {
  content: "\e987";
}
.icon-uniE988:before {
  content: "\e988";
}
.icon-facebook3 .path1:before {
  content: "\e989";
  color: rgb(59, 89, 152);
}
.icon-facebook3 .path2:before {
  content: "\e9bf";
  margin-left: -1.0000000000000004em;
  color: rgb(255, 255, 255);
}
.icon-google3 .path1:before {
  content: "\e98a";
  color: rgb(68, 134, 243);
}
.icon-google3 .path2:before {
  content: "\e9c0";
  margin-left: -1.0000000000000004em;
  color: rgb(233, 68, 54);
}
.icon-google3 .path3:before {
  content: "\e9c1";
  margin-left: -1.0000000000000004em;
  color: rgb(53, 168, 83);
}
.icon-google3 .path4:before {
  content: "\e9c2";
  margin-left: -1.0000000000000004em;
  color: rgb(66, 133, 243);
}
.icon-google3 .path5:before {
  content: "\e9c3";
  margin-left: -1.0000000000000004em;
  color: rgb(250, 187, 6);
}
.icon-uniE98B:before {
  content: "\e98b";
}
.icon-uniE98C:before {
  content: "\e98c";
}
.icon-uniE98D:before {
  content: "\e98d";
}
.icon-uniE98E:before {
  content: "\e98e";
}
.icon-uniE98F:before {
  content: "\e98f";
}
.icon-uniE990:before {
  content: "\e990";
}
.icon-uniE991:before {
  content: "\e991";
}
.icon-uniE992:before {
  content: "\e992";
}
.icon-uniE993:before {
  content: "\e993";
}
.icon-uniE994:before {
  content: "\e994";
}
.icon-uniE995:before {
  content: "\e995";
}
.icon-uniE996:before {
  content: "\e996";
}
.icon-uniE997:before {
  content: "\e997";
}
.icon-uniE998:before {
  content: "\e998";
}
.icon-uniE999:before {
  content: "\e999";
}
.icon-uniE99A:before {
  content: "\e99a";
}
.icon-link:before {
  content: "\e99b";
}
.icon-unlink:before {
  content: "\e99c";
}
.icon-uniE99D:before {
  content: "\e99d";
}
.icon-uniE99E:before {
  content: "\e99e";
}
.icon-uniE99F:before {
  content: "\e99f";
}
.icon-uniE9A0:before {
  content: "\e9a0";
}
.icon-uniE9A1:before {
  content: "\e9a1";
}
.icon-uniE9A2:before {
  content: "\e9a2";
}
.icon-uniE9A3:before {
  content: "\e9a3";
}
.icon-uniE9A4:before {
  content: "\e9a4";
}
.icon-uniE9A5:before {
  content: "\e9a5";
}
.icon-uniE9A6:before {
  content: "\e9a6";
}
.icon-uniE9A7:before {
  content: "\e9a7";
}
.icon-uniE9A8:before {
  content: "\e9a8";
}
.icon-uniE9A9:before {
  content: "\e9a9";
}
.icon-uniE9AA:before {
  content: "\e9aa";
}
.icon-uniE9AB:before {
  content: "\e9ab";
}
.icon-uniE9AC:before {
  content: "\e9ac";
}
.icon-google2:before {
  content: "\e9ad";
  color: #4285f4;
}
.icon-facebook2:before {
  content: "\e9ae";
  color: #1877f2;
}
.icon-uniE9AF:before {
  content: "\e9af";
}
.icon-uniE9B0:before {
  content: "\e9b0";
}
.icon-uniE9B1:before {
  content: "\e9b1";
}
.icon-uniE9B2:before {
  content: "\e9b2";
}
.icon-uniE9B3:before {
  content: "\e9b3";
}
.icon-uniE9B4:before {
  content: "\e9b4";
}
.icon-uniE9B5:before {
  content: "\e9b5";
}
.icon-uniE9B6:before {
  content: "\e9b6";
}
.icon-uniE9B7:before {
  content: "\e9b7";
}
.icon-uniE9B8:before {
  content: "\e9b8";
}
.icon-uniE9B9:before {
  content: "\e9b9";
}
.icon-sent-error:before {
  content: "\e9ba";
}
.icon-uniE9BB:before {
  content: "\e9bb";
}
.icon-uniE9BC:before {
  content: "\e9bc";
}
.icon-uniE9BD:before {
  content: "\e9bd";
}
.icon-fi-pencil:before {
  content: "\e9be";
}
